:root {
    --page-color: #ded9e3;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--page-color);

}

p{
    font-family: 'Kreon', serif;
/* https://www.youtube.com/watch?v=3BanVQvCN6U&ab_channel=MatthewBoyle */
}
/* canvas {
  display: block;
} */

canvas {
    display: block;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* width: 800px; */
}
